In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('Loan_data_ver2.csv')
data.head()

,Married,Education,ApplicantIncome,LoanAmount,Credit_History,Loan_Status
0,No,Graduate,5849,NaN,1.0,0.10
1,Yes,Graduate,4583,128.0,1.0,0.32
2,Yes,Graduate,3000,66.0,1.0,0.09
3,Yes,Not Graduate,2583,120.0,1.0,0.06
4,No,Graduate,6000,141.0,1.0,0.01

In [3]:
x = data.drop('Loan_Status',1)
y = data['Loan_Status']

In [4]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=48)

In [5]:
feat_num = list(x.select_dtypes(include=np.number).columns)
feat_cat = list(x.select_dtypes(exclude=np.number).columns)

In [6]:
import pickle

In [8]:
pickle.dump(feat_num,open('feat_num1','wb'))
pickle.dump(feat_cat,open('feat_cat1','wb'))

In [9]:
from sklearn.pipeline import Pipeline
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [10]:
num_pipe = Pipeline([('Imputer',KNNImputer()),('std_scaler',StandardScaler())])

In [ ]:
feat_mode = xtrain[feat_cat].mode()
xtrain[feat_cat]