In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data=pd.DataFrame({'Mileage':[15,14,17,7,10,7,20,21,18,11,7.9,8.6,12.3,17.1,19.4],
                  'Premium':[392.5,46.2,15.7,422.2,119.4,170.9,56.9,77.5,214,65.3,250,220,217.5,140.88,97.25]})
data

    Mileage  Premium
0      15.0   392.50
1      14.0    46.20
2      17.0    15.70
3       7.0   422.20
4      10.0   119.40
5       7.0   170.90
6      20.0    56.90
7      21.0    77.50
8      18.0   214.00
9      11.0    65.30
10      7.9   250.00
11      8.6   220.00
12     12.3   217.50
13     17.1   140.88
14     19.4    97.25

In [4]:
data['Age']=[5,5,5,10,4,5,3,4,4,5,3,5,2,6,2]
data['Engine_Capacity']=[1.8,1.2,1.2,1.8,1.6,1.4,1.2,1.6,1.2,1.6,1.4,1.6,1.2,1.6,1.2]
data

    Mileage  Premium  Age  Engine_Capacity
0      15.0   392.50    5              1.8
1      14.0    46.20    5              1.2
2      17.0    15.70    5              1.2
3       7.0   422.20   10              1.8
4      10.0   119.40    4              1.6
5       7.0   170.90    5              1.4
6      20.0    56.90    3              1.2
7      21.0    77.50    4              1.6
8      18.0   214.00    4              1.2
9      11.0    65.30    5              1.6
10      7.9   250.00    3              1.4
11      8.6   220.00    5              1.6
12     12.3   217.50    2              1.2
13     17.1   140.88    6              1.6
14     19.4    97.25    2              1.2

In [5]:
out = data['Premium']
inp = data.drop('Premium',1)

In [6]:
import statsmodels.api as sm

In [7]:
inpc = sm.add_constant(inp)
ols = sm.OLS(out,inpc)
ols_mod = ols.fit()
ols_mod.summary()

D:\Anaconda\lib\site-packages\scipy\stats\stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Premium   R-squared:                       0.403
Model:                            OLS   Adj. R-squared:                  0.240
Method:                 Least Squares   F-statistic:                     2.475
Date:                Sat, 03 Oct 2020   Prob (F-statistic):              0.116
Time:                        02:27:56   Log-Likelihood:                -88.880
No. Observations:                  15   AIC:                             185.8
Df Residuals:                      11   BIC:                             188.6
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const             -68.6918    240.351     -0.286      0.780    -597.700     460.316
Mileage            -7.1539      6.342     -1.128      0.283     -21.112       6.804
Age                 4.5914     19.358      0.237      0.817     -38.016      47.199
Engine_Capacity   217.2727    161.421      1.346      0.205    -138.013     572.558
==============================================================================
Omnibus:                        1.124   Durbin-Watson:                   2.905
Prob(Omnibus):                  0.570   Jarque-Bera (JB):                0.788
Skew:                           0.186   Prob(JB):                        0.674
Kurtosis:                       1.941   Cond. No.                         155.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""