In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

In [4]:
df = pd.read_csv('trough.csv')
df

    Width
0   8.312
1   8.343
2   8.317
3   8.383
4   8.348
5   8.410
6   8.351
7   8.373
8   8.481
9   8.422
10  8.476
11  8.382
12  8.484
13  8.403
14  8.414
15  8.419
16  8.385
17  8.465
18  8.498
19  8.447
20  8.436
21  8.413
22  8.489
23  8.414
24  8.481
25  8.415
26  8.479
27  8.429
28  8.458
29  8.462
30  8.460
31  8.444
32  8.429
33  8.460
34  8.412
35  8.420
36  8.410
37  8.405
38  8.323
39  8.420
40  8.396
41  8.447
42  8.405
43  8.439
44  8.411
45  8.427
46  8.420
47  8.498
48  8.409

In [5]:
df['Width'].mean()

8.420897959183671

In [6]:
df['Width'].quantile(0.75)

8.458

In [8]:
240/650

0.36923076923076925

In [9]:
245/650

0.3769230769230769

In [10]:
120/650

0.18461538461538463

In [12]:
325/425

0.7647058823529411

In [13]:
0.18+0.32+.36+.4+.45+.48+.28+.24

2.71

In [14]:
4000/120

33.333333333333336

In [15]:
(40*120)/100

48.0

In [16]:
(48*650)/120

260.0

In [17]:
26000/650

40.0